[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "GFM"]
	path = GFM
	url = https://github.com/feiyoung/gfm
	shallow = true
	registered = true
[submodule "ILSE"]
	path = ILSE
	url = https://github.com/feiyoung/ilse
	shallow = true
	registered = true
[submodule "PRECAST"]
	path = PRECAST
	url = https://github.com/feiyoung/precast
	shallow = true
	registered = true
