[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CMGFM"]
	path = CMGFM
	url = https://github.com/feiyoung/cmgfm
[submodule "COAP"]
	path = COAP
	url = https://github.com/feiyoung/coap
[submodule "DR.SC"]
	path = DR.SC
	url = https://github.com/feiyoung/dr.sc
[submodule "GFM"]
	path = GFM
	url = https://github.com/feiyoung/gfm
[submodule "ILSE"]
	path = ILSE
	url = https://github.com/feiyoung/ilse
[submodule "MMGFM"]
	path = MMGFM
	url = https://github.com/feiyoung/mmgfm
[submodule "MultiCOAP"]
	path = MultiCOAP
	url = https://github.com/feiyoung/multicoap
[submodule "PRECAST"]
	path = PRECAST
	url = https://github.com/feiyoung/precast
[submodule "ProFAST"]
	path = ProFAST
	url = https://github.com/feiyoung/profast
[submodule "SpaCOAP"]
	path = SpaCOAP
	url = https://github.com/feiyoung/spacoap
[submodule "TOSI"]
	path = TOSI
	url = https://github.com/feiyoung/tosi
